{% extends 'layout.html' %}

{% block import_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chord-lab.css') }}" />
{% endblock %}

{% block content %}
  <h1>NEARO PIANO</h1>
  <h2>Everybody is looking at me.</h2>

  <div class="available-ports">
    <div class="port-row">
      <label for="select-port">Port</label>

      <select class="sel-note" name="port" id="select-port">
        {% for port in available_ports %}
          <option value="{{ port }}">{{ port }}</option>
        {% endfor %}
      </select>

      <button id="btn-setport">Set port</button>
    </div>
  </div>

  <div class="chords-container" id="chordsContainer"></div>

  <div class="buttons">
    <button id="btn-start">Start Progression</button>
    <button id="btn-stop">Stop Progression</button>
  </div>
{% endblock %}

{% block import_js %}
  <script src="{{ url_for('static', filename='js/chord-lab.js') }}"></script>
{% endblock %}
